vms/omarchy/*
backends/windows/qemu/*

# OS metadata
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp

# Large installer ISOs
*.iso